<div class="row">



	<div class="col-sm-12">
		<div class="col-sm-6">   
	     	<h1>Your Profile</h1>
			<table class="table table-striped table-hover table-bordered">
			   <tbody>
			      <tr>
			         <th>Name</th>
		            <td>{{name}}</td>
			      </tr>
			      <tr>
			         <th>Login</th>
		            <td>{{login}}</td>
			      </tr>
			      <tr>
			         <th>Email</th>
		            <td>{{email}}</td>
			      </tr>
			      <tr>
			         <th>Mobile No</th>
		            <td>{{mobileno}}</td>
			      </tr>
			   </tbody>
			</table>

			<a href="#profile" class="btn btn-info">
     			View/Edit Profile
     		</a>
     		<a href="#profile/passwordreset" class="btn btn-info">
     			Password Reset
     		</a>
		</div>
	</div>	

<!-- ======= Services Section ======= -->
    <section id="movies" class="movies">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>see all movies</h2>
          <p style="color: aliceblue;">NOW SHOWING MOVIES</p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <h2><a href="">Joker 2019</a></h2>
              <h4>Drama / Thriller</h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <h2><a href="">Birds of Prey 2019</a></h2>
              <h4>Action / Comedy</h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <h2><a href="">Onwards 2020</a></h2>
              <h4>Animation / Fantasy / Adventure</h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <h2><a href="">Mulan 2020</a></h2>
              <h4>Action / Drama</h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <h2><a href="">Black Widow 2020</a></h2>
              <h4>Action / Adventure</h4>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <h2><a href="">Dolittle 2020</a></h2>
              <h4>Adventure / Family</h4>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

</div>