<div class="row">
   <div class="col-sm-6">   
      <h2>Add New Movie<h2/>  <br>

		<form class="form-horizontal" id="formadd">
		  <fieldset>
		    <div class="form-group">
		      <h5 for="addmovie_title" class="col-lg-5 control-label">Movie Title</h5>
		      <div class="col-lg-10">
		        <input type="text" class="form-control" id="addmovie_title" required>
		      </div>
		    </div>

		    <div class="form-group">
		      <h5 for="addgenre" class="col-lg-5 control-label">Movie Genre</h5>
		      <div class="col-lg-10">
				<select class="form-control" id="addgenre">
		        	 <option value="none" selected>Please select movie genre</option>
		        	 <option value="Drama">Drama</option>
		        	 <option value="Thriller">Thriller</option>
		        	 <option value="Action">Action</option>
		        	 <option value="Horror">Horror</option>
		        	 <option value="Animation">Animation</option>
		        	 <option value="Comedy">Comedy</option>
		        	 <option value="Sci-Fi">Sci-Fi</option>
		        </select>
		      </div>
		    </div>

		    <div class="form-group">
		      <h5 for="addshowtimes" class="col-lg-5 control-label">Showtimes</h5>
		      <div class="col-lg-10">
		        <input type="time" class="form-control" id="addshowtimes" required>
		      </div>
		    </div>
   
		    <div class="form-group">
		      <div class="col-lg-10 col-lg-offset-2">
		        <button type="reset" class="btn btn-default" id="formaddcancel">Cancel</button>
		        <button type="submit" class="btn btn-primary">Submit</button>
		      </div>
		    </div>
		  </fieldset>
		</form>    
   </div>
</div>